{% extends 'base.html' %}

{% block title %} Post Form {% endblock %}

{% block content %}
<h1>Add Post For {{post.user.first_name}} {{post.user.last_name}}</h1>

<form method="POST">
    <label for="title">Title </label>
    <input id="title"type="text" name="title">
    <label for="content">Post Content </label>
    <input id="content"type="text" name="content">
    <button>Edit</button>
</form>
<form action="/users/{{post.user.id}}">
    <button>Cancel</button>
</form>

{% endblock %}